

<div class="row">
	<div  class="col-sm-offset-2 col-sm-8"">
	<h2>About</h2>
<p style="font-size: 18px;">Wanna view your flickr photostream without having to login your credentials?
All you need is your flickr ID, which can be obtained at <a href="https://www.webpagefx.com/tools/idgettr/">idGettr</a>. 
FlickrFeed gives you a glimpse of your's or someone else's flickr photos, provided you at least know their flickr username. Have some fun and enter random letters, numbers, and you might get some interesting results. 
For more information, visit the <a href="">github</a> page.</p>
	</div>
</div>