

<form action= <%=photos_path%>>

		<div class="input-group">
			
			<input type="text" class="form-control" id="flickr_id" placeholder="Flickr ID" name="flickr_id" >

			<div class="input-group-btn">
				<button type="submit" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-right"></span>
		    </button>
			</div>
		</div>
</form>

<% if @flickr_id.present? %>
	<div class="widget">
	<%=render_flickr_sidebar_widget(@flickr_id)%>
	</div>
<%else%>
	<p style="text-align: center; padding-top: 1%;">Enter a flickr id. For example, "153186233@N04"</p>
<%end%>





