#app/views/flickr/_sidebar_widget.html.erb
helloooooooooooo
<div class="flickr">
	<ul>
		<% photos.each do |row| %>
			<li>
				<% row.each do |p| %>
				    <%if p.present?%>
					<%=link_to(image_tag(FlickRaw.url_s(p), :class => 'flickr_photo', :title=> p.title, :border => 0, :size => '75x75'), FlickRaw.url_photopage(p)) %>
					<%end%>
				<%end%>
			</li>
		<%end%>
	</ul>
</div>