  	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
  			<div class="navbar-header">
  				<a id="h" class="navbar-brand" href=<%=root_path%>>FlickrFeed</a>
  			</div>

  			<ul class="nav navbar-nav navbar-right">
     			 <li><a id="h" href=<%=about_path%>><span class="glyphicon glyphicon-info-sign"></span></a></li>
    		</ul>
  		</div>
  	</nav>